services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: task-manager-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - backend_db:/app/db
    environment:
      - DEBUG=True
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task-manager-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - NUXT_API_BASE=http://backend:8000/api  # Server-side (SSR)
      - NUXT_PUBLIC_API_BASE=http://localhost:8000/api  # Client-side (browser)
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

volumes:
  backend_db:

networks:
  app-network:
    driver: bridge
